<div><h3><%= form_title %></h3></div>

<div>
  <% if downvote.errors.any? %>
    <% downvote.errors.full_messages.each do |msg| %>
      <p> <%= msg %></p>
    <% end %>
  <% end %>
</div>

<div>
  <%= form_for(downvote) do |f| %>
    <div>
      <label for="link_id">Link: </label>
      <%= f.select :link_id, options_from_collection_for_select(Link.all, :id, :title) %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>
