<div><h3><%= form_title %></h3></div>

<div>
  <% if link.errors.any? %>
    <% link.errors.full_messages.each do |msg| %>
      <p> <%= msg %></p>
    <% end %>
  <% end %>
</div>

<div>

  <%= form_for(link) do |f| %>
    <div>
      <label for="title">Title: </label>
      <%= f.text_area :title, placeholder: Faker::Name.name, class: 'form-field' %>
    </div>

    <div>
      <label for="url">Url: </label>
      <%= f.text_area :url, placeholder: "www.#{Faker::Name.name.downcase.gsub(/[. ]/, '')}.com", class: 'form-field' %>
    </div>

    <div>
      <label for="board_id">Board: </label>
      <%= f.select :board_id, options_from_collection_for_select(Board.all, :id, :name) %>
    </div>

    <div>
      <%= f.submit %>
    </div>
  <% end %>

</div>
