<%= link_to "new link", new_link_path %>
<%= link_to "new vote", new_vote_path %>

<h1>links:</h1>
<% links.each do |link| %>
  <div><%= link_to link.title, link %></div>
  <div><%= link.url %></div>
  <div><%= link.votes.count %> votes</div>
  <br>
<% end %>

<%= paginate links %>
