<div class="nav row"><h4 class="no-pad-t col 12"><%= link_to "/r/#{board.name}", board %></h4></div>

<% links.each do |link| %>
  <div class="hlable">
    <div class="row">
      <%= link_to upvotes_path(upvote: { link_id: link.id, user_id: current_user.try(:id) }), method: :POST, remote: true, "data-id": link.id, class: "upvote col 12" do %>
        <i class="material-icons">thumb_up</i>
      <% end %>
    </div>
    <div class="row">
      <div class="vote_count col 2">
        <%= link.upvotes_count - link.downvotes_count %>
      </div>
      <div class="col 2">
      <%= link_to link.title, link %>
      </div>
    </div>
    <div class="row">
      <%= link_to downvotes_path(downvote: { link_id: link.id, user_id: current_user.try(:id) }), method: :POST, remote: true, "data-id": link.id, class: "downvote col 12" do %>
        <i class="material-icons">thumb_down</i>
      <% end %>
    </div>
  </div>
<% end %>
